<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688750595990-9hkrj7nbuiuf7i57qtul9n7b6t3h9342.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688750595990-9hkrj7nbuiuf7i57qtul9n7b6t3h9342</string>
	<key>API_KEY</key>
	<string>AIzaSyCyCxmp3eIIHKi8t-4v8u62hXlzJiWAPoM</string>
	<key>GCM_SENDER_ID</key>
	<string>688750595990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.josephstorer.geochat</string>
	<key>PROJECT_ID</key>
	<string>geochat-822dc</string>
	<key>STORAGE_BUCKET</key>
	<string>geochat-822dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688750595990:ios:31ac1a2bd10976240bd7b7</string>
	<key>DATABASE_URL</key>
	<string>https://geochat-822dc.firebaseio.com</string>
</dict>
</plist>